


.theme-default-content:not(.custom) > h1:first-child + p
  margin-top 0

iframe
  margin-bottom .5rem

.bio
  display flex
  img
    width 250px
    height 250px
    margin-left 1.5rem
  p
    margin-top 0